.ideaWrap{
  // width: 20vw;
  min-height: 200px;
 min-width: 100px;
  background-color: #5cc4d6;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
  display: inline-block;
  font-family: $QS;
  border-radius: 15px;
  word-wrap: break-word;
}
.delete{
  // position: relative;
  // right: 12%;
  font-family: $QS;
}
.icon{
  text-decoration: none;
  color: 	#a53c29;
}
