.navWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-width: 1px;
  border-style: solid;
  border-color:black;
  height: 75px;
  border-radius: 15px;
}
.marginRight{
  margin:auto;
}
