.coloredDiv{
  background-color: #2992A5;
  border-radius: 15px;
  height: 100%;

}
.introSection{
  flex-direction: column;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #5cc4d6;
  height: 11vh;
  margin: auto;
  border-radius: 25px;
  font-family: $QS;

}
#inspiration{
  margin-top: 2%;
}
//
#callToAction{
  border-radius: 12px;
  // display: flex;
  // align-items: center;
  margin-bottom: 15px;
  font-size: 17px;
}
